@charset "UTF-8";
/* MAIN CSS DOCUMENT */

/*main Container */
#container {
	margin: 0 auto;
	width: auto;
  font-family: "Lucida Sans Unicode", "Lusica Grande", sans-serif;
  font-size: 14px;
}

.background {
	width: 100%;
	height:100%;
	background-image: url("../images/bckg_funk.svg");
	position: absolute;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.header {
	margin-top: 30px;
}
/*header container*/
.headerAlignment {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

/*title alignment */
.titleAlignment {
	position: fixed;
	text-align: center;
}

/*logo*/
.logo {
	width: 100px;
	margin-right: 0px;
	padding: 0px 10px;
	margin-left: 20px;
}
/*social media*/
.socials ul {
	margin-left: 0 auto;
	padding-right: 20px;
	display: flex;
	flex-direction: row;
}
.socials img {
	width: 40px;
	padding: 10px;
}

/*h1 tag*/
#title {
  text-align: center;
  padding: 0px 10px 10px 10px;
  font-size: 90px;
	font-family: 'Bangers', cursive;
	letter-spacing: 6px;
}

#subTitle {
	text-align: center;
	font-size: 20px;
	padding-bottom: 30px;
	font-family: 'Oswald', sans-serif;
}

/* "parent" container for all the icons */
.iconContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
	margin-top: 10px;
  padding-bottom: 10px;
}

/* "child" - all icons */
.icon {
  width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 30px;
  cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.icon:hover {
  background-color: #aa7b86;
}

.icon h2 {
	text-align: center;
	padding: 10px;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
}

.icon p {
	text-align: left;
	padding: 10px;
	font-size: 14px;
	font-family: "Lucida Sans Unicode", "Lusica Grande", sans-serif;
}
/* footer */
.footer {
	margin-bottom: 10px;
	margin-left: 20px;
}

/* js application */
.selected {
	background-image: url("../images/backgroundIcon.svg");
	background-size: cover;
	background-repeat: no-repeat;
}
